{
	"presets": [
		[
			"env",
			{
				"targets": {
					"browsers": ["last 2 versions"],
					"uglify": true
				}
			}
		],
		"react"
	],
	"env": {
		"server": {
			"presets": [
				[
					"env",
					{
						"targets": {
							"node": "current"
						},
						"modules": "commonjs"
					}
				],
				"react"
			]
		}
	}
}
